*{
    margin: 0;
    padding: 0;
}
.header{
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);  
}
nav{
    width: 100%;

}
.icon{
    width: 130px;
    height: 60px;
    margin-left: 9px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    line-height: 62px;
    padding-right: 12px;
}
nav .logo a{
    text-decoration: none;
}
.header{
    width:100%;
    background-color:#fff;
}
.left{
    float: left;
}
.right{
    float: right;
}
.my{
    background-color: #dd5347;
    padding: 23px 24px;
    color: white;
    margin-right: -12px;
}
.my1{
    color: black;
}
.my2{
    color:#dd5347;
}
.body img{
    width: 100%;
    height: 400px;
    margin-top: -40px;
}
.body2{
    width: 100%;
    height: 200px;
    background-color: #dd5347;
}
.left1{
    width: 30%;
    float:left;
}
.right1{
    width: 60%;
    margin-top: 35px;
    float: right;
    margin-right: 127px
}
.my3{
    width: 240px;
    height: 78px;
    background-color: #dd5347;
    border: 1px solid white;  
    margin-left: 60px;
    margin-top: 58px;
}
.my3 a{
    color:white;
    font-size: 17px;
    text-decoration: none;
}
.my4 {
    font-size: 50px;
    color: white;
}
.my5{
    margin-top:60px;
}
.use{
    text-align: center;
    font-size: 50px;
    font-style: normal;
}
.use2, .use3{
    text-align: center;
    font-size: 19px;
}
b{
    color: blue;
}
.box1,.box2,.box3,.box4{
    width:20%;
    min-height: 380px;
    box-shadow:  0 2px 4px rgba(0,0,0,0.3);
    border:1px solid #ccc;
    margin-top: 66px;
    margin-left: 96px;
    float: left;
}
img{
    width: 273px;
    height: 159px;
}
.nd1{
    text-align: center;
    font-size: 25px;
    padding-top: 19px;
}
.nd2{
    padding-left: 27px;
    padding-top: 24px;
    font-size: 20px;
}
.box2,.box3,.box4{
    margin-left: 20px;
}
.cl{
    clear: both;
}
.footer{
    background-color: #f9f9f9;
    height: 260px;
    width: 100%;
    margin-top: 50px
}
.line{
    background-color: white;
    height: 2px;
    width: 100%;
}
.color::before{
    border-left: 35px solid #ffa900;
    border-right: 34px solid #00a753;
    content: '';
    float: right;
    height: 2px;
    margin-right: 100px;
    margin-top: 50px;
}
.color::after{
    border-left: 34px solid #0089fa;
    border-right: 35px solid #ff002b;
    content: '';
    float: right;
    height: 2px;
    margin-right: 0px;
    margin-top: 50px;
}
.sticker{
    padding-top: 86px;
    margin-left: 100px; 
}
.sticker a{
    font-size:20px;
    letter-spacing: 6px;
    color:rgb(128, 125, 125);
}
.nd3{
    margin-left: 100px;
    padding-top: 15px;
}
.nd3 a{
    text-decoration: none;
    font-size: 17px;
    color: blue;
    padding-right: 6px;
}
.Google i{
    color: red;
    cursor: pointer;
    border: 1px solid rgb(177, 174, 174);
    width: 32px;
    padding-left: 5px;
    margin-left: 90px; 
    font-size: 15px;
    height: 20px;
    line-height: 17px; 
}
.left2{
    float: left;
    margin-left: 100px;
    margin-top: 80px;
}
.left2 a{
    text-decoration: none;
    font-size: 13px;
    padding-right: 5px; 
}
.right2{
    float: right;
    margin-top: 80px;
    margin-right: 120px;
}
.right2 img{
    width: 12px;
    height: 13px;
}
select{
    width: 300px;
}
